[package]
name = "chat"
version = "0.1.0"
authors = ["Pierre Gergis <pierre.s.gergis@gmail.com>"]
edition = "2018"

[dependencies]
actix = "0.7"
actix-web = "0.7"
futures = "0.1"
rand = "0.6"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
